.NavBar a, .NavBar button {
	margin: 0 5px;
	cursor: pointer;
}

.NavBar {
	margin-bottom: 20px;
	font-family: 'Cardo', serif;
	text-shadow: -2px 2px 0px pink;
	font-size: 2em;

}
.App {
	text-align: center;
  }
  
  .App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
  }
  
  /* .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  } */
  
  .App-link {
	color: lightpink;
  }
  
  @keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  .cake{ 
	height: 50px;
	width: 50%;
  }
  
  /* .carousel-active{
	width:40px;
	height: 50rem;
  } */
  .header{
	font-family: 'Cardo', serif;
	letter-spacing: 1px;
   font-size: 6em;
	text-shadow: -2px 2px 0px #000;
  
  }
  .about{
	font-family: 'Cardo', serif;
	letter-spacing: 1px;
   font-size: 6em;
	text-shadow: -2px 2px 0px #000;
  
  }
  /* .contmain{
	margin: 0;
	padding:50px;
	background: url("https://bit.ly/2ykG8zg")no-repeat center; 
	background-size: cover;
  } */
  /* .cmxform{
	width: 85%;
	max-width: 500px;
	background:lightpink;
	margin:70px auto;
	padding: 50px 75px;
	box-sizing: border-box;
	text-align: center;
	box-shadow:0 0 0 20px #000000b3;
	font-family: "Monstserrat", sans-serif;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */
  /* h1{
	margin-top: 0;  
	font-size:60px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 1;
	  } */
  /* .contact-form input{
		border:none;
		width:100%;
	  }
  .contact{
	font-family: 'Cardo', serif;
	letter-spacing: 1px;
   font-size: 4em;
	text-shadow: -2px 2px 0px #000;
  
  } */
  

  
  /* .text-muted{
	font-family: 'Cardo', serif;
	letter-spacing: 1px;
   font-size: 2em;
	text-shadow: -2px 2px 0px #000;
  
  } */
  .main{
	margin: 0;
	padding:150px;
	background: url("https://bit.ly/2YqoHIf")no-repeat center; 
	background-size: cover;
	
  }
  #who {
	padding:5rem 0;
	background-color:#f6f6f6;
	background: url("https://bit.ly/2YqoHIf")no-repeat center; 
  }
  
  #who .btn-who {
	background-color:pink;
	width:50%;
  }
  
  #who .btn-who:hover {
	background-color:transparent;
	border:1px solid purple;
  }
  .bake{
	
	font-family: 'Cardo', serif;
	letter-spacing: 1px;
   font-size: 6em;
	text-shadow: -2px 2px 0px pink;
  }
  /* .navbar-brand{
	font-family: 'Cardo', serif;
	text-shadow: -2px 2px 0px pink;
  } */

  .img-fluid{
	position: relative;
  }
  .sweet{
	width: 500px;
  }